<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="about-div">
        <h1>About</h1>
    </div>

    <div class="data-div">
        <p>Paylater is a digital financial services platform that specializes in consumer lending. They empower individuals with access to credit, simple payments solutions, <br>high-yield investment opportunities and easy-to-use tools for personal financial management.With PayLater, customers can purchase small consumer <br>durable or other household items in a completely digital and paperless manner. This facility is an instant digital credit limit that helps customers to shop online, pay bills,<br> and pay using the Merchant UPI ID at physical stores.</p>
    </div>

</body>
</html>