<!DOCTYPE html>
<html lang="en">
<head>
    <title>Merchants</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div class="merchants-div">
        <p>Merchants Register</p>
        <form action="/merchants" method="post" onsubmit="alert('submitted')">
            <input type="number" name="mer_id" required placeholder="mer_id"><br>
            <input type="text" name="app" required placeholder="app"><br>
            <input type="number" name="txt_rate"required placeholder="txt_rate"><br>
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>